body
{
  font-size: 16pt;
}

a
{
  padding-left: 8px;
  text-decoration: none;
}

.open_link
{
  color: #1b95e0;
}

.delete_link
{
  color: #ff2400;
}

p
{
  background: #1b95e0;
}



button
{
  border-left: 2px solid #ad9d80;
  margin-left:20px;
  font-size: 16px;
}